:root {
    --main-blue: #003366;
    --secondary-blue: #002a4a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*all of page*/
body {
    font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
    background-color: #ecebeb;
}

/*Primer nav*/
.navbar {
    display: flex;
    justify-content: center;  
    background-color: #003366; /* Color de fondo azul oscuro */
}

/*Configuración de container general*/
.container {
    width: 1180px;
    display:flex;
    justify-content: space-between; 
    align-items: center;
}

/*Primer container*/
.container .first {
    background-color: #003366;
    padding: 7px 0px 6px 0px;
}

/*Configuracion de la posicion de logo*/
.logo {
    display: flex;
    align-items: center;
    width: 275px;    
}

/* Ajusta el tamaño del logo según sea necesario */
.logo-img {
    height: 50px; 
    margin-right: 10px;
}

/*centrar verticalmente el cuadro de texto*/
.search-bar {
    display: flex;
    align-items: center;
}

/*configruacion de cuadro de texto*/
.search-bar input {
    text-align: left;
    padding: 11px 11px 8px 8px;
    border: 1px solid #125cb7;
    background-color: #fff;
    border-radius: 4px;
    outline: none;
    text-align: left;
    font-size: small;
}

/*hoover de cuadro de texto*/
input:hover{
    border-color: #feca4e;
}

/*Configuracion de boton Buscar*/
.search-bar .btn-primary {
    background-color: #125cb7; /* Color azul para el botón */
    color: white;
    font-weight: bold;
    border: none;
    padding: 9px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 30px;
    font-size: medium;
}

/*Centrar el container de los dos botones de inicio y registrarse*/
.auth-buttons {
    display: flex;
    align-items: center;
}

/*Ajuste de boton Iniciar Sesion*/
.auth-buttons .btn-primary {
    background-color: #125cb7; /* Color azul para el botón */
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    font-size: medium;
}

/*Ajuste de boton Registrar*/
.btn-register {
    background-color: var(--main-blue);
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-size: medium;
}

/*hoover de boton Registrar*/
.btn-register:hover {
    background-color: #125cb7;
    color: #e4bb4a;
}

/*hover de botón buscar e iniciar sesion*/
.btn-primary:hover {
    background-color: #0f50a0;
    color: #feca4e;
}

/*segunda sesion de header*/
nav {
    background-color: var(--secondary-blue);
}

/*---------cuadrar------------------*/
a {
    text-decoration: none;
    color: #fff;
    font-size: smaller;
    font-weight: bold;
}

a:hover {
    color: var(--secondary-blue);
    background-color: white;
}

.second-header {
    display: flex;
    justify-content: center;
    flex-direction: column;             
    justify-content: space-around;   
    align-items: center;
    font-weight: 100;
    padding: 6px;
}