:root {
    --main-blue: #003366;
    --secondary-blue: #002a4a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*all of page*/
body {
    font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
    background-color: #ecebeb;
}

/*Primer nav*/
.navbar {
    display: flex;
    justify-content: center;  
    background-color: #003366; /* Color de fondo azul oscuro */
    padding: 4px;
}

/*Configuración de container general*/
.container {
    width: 1200px;
    display:flex;
    justify-content: space-between; 
    align-items: center;
}

/*Primer container*/
.container .first {
    background-color: #003366;
    padding: 7px 0px 6px 0px;
}

/*Configuracion de la posicion de logo*/
.logo {
    display: flex;
    align-items: center;
    width: 275px;    
}

/* Ajusta el tamaño del logo según sea necesario */
.logo-img {
    height: 50px; 
    margin-right: 10px;
}

/*centrar verticalmente el cuadro de texto*/
.search-bar {
    display: flex;
    align-items: center;
}

/*configruacion de cuadro de texto*/
.search-bar input {
    text-align: left;
    padding: 11px 11px 8px 8px;
    border: 1px solid #125cb7;
    background-color: #fff;
    border-radius: 4px;
    outline: none;
    text-align: left;
    font-size: small;
}

/*hoover de cuadro de texto*/
input:hover{
    border-color: #feca4e;
}

/*Configuracion de boton Buscar*/
.search-bar .btn-primary {
    background-color: #125cb7; /* Color azul para el botón */
    color: white;
    font-weight: bold;
    border: none;
    padding: 9px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 30px;
    font-size: medium;
    transition:  0.2s, color 0.2s;
}

/*Centrar el container de los dos botones de inicio y registrarse*/
.auth-buttons {
    display: flex;
    align-items: center;
}

/*Ajuste de boton Iniciar Sesion*/
.auth-buttons .btn-primary {
    background-color: #125cb7; /* Color azul para el botón */
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    font-size: medium;
    transition: background-color 0.2s, color 0.2s;
}

/*Ajuste de boton Registrar*/
.btn-register {
    background-color: var(--main-blue);
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-size: medium;
    transition: background-color 0.2s, color 0.2s;
}

/*hoover de boton Registrar*/
.btn-register:hover {
    background-color: #125cb7;
    color: #e4bb4a;
}

/*hover de botón buscar e iniciar sesion*/
.btn-primary:hover {
    background-color: #0f50a0;
    color: #feca4e;
}

/*segunda sesion de header*/
nav {
    display: flex;
    background-color: var(--secondary-blue);
    justify-content: center;
}

/*---------cuadrar------------------*/
.second-header{
    background-color: var(--secondary-blue); 
    padding: 6px;
}

.container-second{
    display:flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
}

/* Estilo para la primera sección del menú */
.grid-menu {
    display: grid;
    grid-template-columns: repeat(8, auto); /* 8 columnas para cada elemento */
    gap: 0px;
}

.grid-menu div a {
    color: #ffffff;
    text-decoration: none;
    padding: 7px 15px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
}

/* Hover en la primera sección */
.grid-menu div a:hover {
    background-color: #ffffff; /* Fondo blanco al hacer hover */
    color: #0a2d5e; /* Texto en azul oscuro */
}

/* Estilo para la segunda sección (Puntos de venta y Ayuda) */
.grid-menu2 {
    display: flex;
    gap: 0px;
}

.grid-menu2 div a {
    color: white; /* Texto en azul oscuro */
    background-color: var(--main-blue);
    text-decoration: none;
    padding: 7px 20px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 15px;
    font-weight: bold;
}

/* Hover en la segunda sección */
.grid-menu2 div a:hover {
    background-color: #ffffff; /* Fondo azul oscuro al hacer hover */
    color: #0a2d5e; /* Texto en blanco */
}